DISCORD_TOKEN="your discord token here"
ADMIN_USER_ID="your admin user id here"

E621_API_KEY="your_e621_api_key"
E621_USERNAME="your_e621_username"

SAUCENAO_API_KEY="your_saucenao_api_key"

REDDIT_USERNAME="your_reddit_username"
TWITTER_AUTHORIZATION="your_twitter_authorization_token"