DISCORD_TOKEN="your discord token here"
ADMIN_USER_ID="your admin user id here"
FEATHERLESS_API_KEY=""

# AWS Credentials
AWS_ACCESS_KEY_ID="your aws access key here"
AWS_SECRET_ACCESS_KEY="your aws secret key here"
AWS_DEFAULT_REGION="us-east-1"

E621_API_KEY="your_e621_api_key"
E621_USERNAME="your_e621_username"

SAUCENAO_API_KEY="your_saucenao_api_key"

REDDIT_USERNAME="your_reddit_username"