[
  { "foler": "cats", "description": "Images which contain cats" },
  { "folder": "dogs", "description": "Images which contadasdasin dogs" },
  { "folder": "birds", "description": "Images which contain birds" }
]
